<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.helloworld" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/fridgebuddyicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="FridgeBuddy" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name=".Browse"
            android:label="@string/title_activity_browse" >
        </activity>
        <activity
            android:name=".recipe"
            android:label="@string/title_activity_recipe" >
        </activity>
    </application>

</manifest>
